---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zwave-js-ui
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      zwave-js-ui:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          terminationGracePeriodSeconds: 5

        containers:
          app:
            image:
              repository: ghcr.io/zwave-js/zwave-js-ui
              tag: 11.12.0@sha256:ca599b5d7afd4832848c8fb7a7eded38ea3494bce560a14c1b8304f6497fe17a
            env:
              TZ: America/Chicago
              PORT: &port 80
              TRUST_PROXY: "loopback,linklocal,uniquelocal"
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      app:
        controller: zwave-js-ui
        ports:
          http:
            port: *port
          websocket:
            port: 3000

    route:
      app:
        hostnames:
        - zwave.${SECRET_DOMAIN}
        parentRefs:
        - name: internal
          namespace: network
          sectionName: https
        rules:
        - backendRefs:
          - name: zwave-js-ui
            port: 80

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: zwave-js-ui
        advancedMounts:
          zwave-js-ui:
            app:
            - path: /usr/src/app/store
            - path: /data

      tmp:
        type: emptyDir
        advancedMounts:
          zwave-js-ui:
            app:
            - path: /tmp
