---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kopia
spec:
  targetNamespace: storage
  commonMetadata:
    labels:
      app.kubernetes.io/name: kopia
  interval: 1h
  path: ./kubernetes/apps/storage/kopia
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  postBuild:
    substituteFrom:
    - kind: Secret
      name: cluster-secrets
    substitute:
      APP: kopia
  dependsOn:
  - name: global-config
    namespace: flux-system
