# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: toolhive-operator
spec:
  chartRef:
    kind: OCIRepository
    name: toolhive-operator
  interval: 1h
  dependsOn:
  - name: toolhive-crds
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    operator:
      replicaCount: 1
      # TODO: Remove after upstream fixes SPDY EOF issue (PR #3183 incomplete)
      # https://github.com/stacklok/toolhive/issues/3179
      toolhiveRunnerImage: ghcr.io/rcdailey/toolhive:fix-spdy-eof-v2
