---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: global-config
spec:
  targetNamespace: flux-system
  interval: 1h
  path: ./kubernetes/apps/flux-system/global-config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
  dependsOn:
  - name: external-secrets-cluster-secrets
    namespace: kube-system
