# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: garage
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      garage:
        annotations:
          reloader.stakater.com/auto: "true"

        strategy: Recreate

        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: dxflrs/garage
              tag: v2.1.0

            env:
              TZ: America/Chicago
              GARAGE_ALLOW_WORLD_READABLE_SECRETS: "true"

            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                - ALL

            resources:
              requests:
                cpu: 200m
                memory: 256Mi
              limits:
                memory: 1Gi

    service:
      app:
        controller: garage
        ports:
          s3:
            port: 3900
          rpc:
            port: 3901
          web:
            port: 3902
          admin:
            port: 3903

    persistence:
      metadata:
        type: persistentVolumeClaim
        existingClaim: garage-metadata
        advancedMounts:
          garage:
            app:
            - path: /var/lib/garage/meta

      data:
        type: nfs
        server: 192.168.1.58
        path: /mnt/user/s3
        advancedMounts:
          garage:
            app:
            - path: /var/lib/garage/data

      config:
        type: configMap
        name: garage-config
        advancedMounts:
          garage:
            app:
            - path: /etc/garage.toml
              subPath: garage.toml
              readOnly: true

      secrets:
        type: secret
        name: garage-secret
        advancedMounts:
          garage:
            app:
            - path: /secrets/rpc-secret
              subPath: GARAGE_RPC_SECRET
              readOnly: true
            - path: /secrets/admin-token
              subPath: GARAGE_ADMIN_TOKEN
              readOnly: true

      tmp:
        type: emptyDir
        advancedMounts:
          garage:
            app:
            - path: /tmp
