# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/v1/persistentvolumeclaim.json
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-metadata
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 5Gi
