---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app blocky
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      blocky:
        replicas: 2
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 0
          surge: 1
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          priorityClassName: system-cluster-critical
          labels:
            app.kubernetes.io/component: dns-server
            app.kubernetes.io/controller: blocky
          securityContext:
            runAsNonRoot: true
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile:
              type: RuntimeDefault
          affinity:
            podAntiAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values: [blocky]
                topologyKey: kubernetes.io/hostname

        initContainers:
          init-config:
            image:
              repository: dibi/envsubst
              tag: latest
            command: ["/bin/sh", "-c"]
            args:
            - envsubst '$${DATABASE_URL}' < /config-template/config.yaml > /config/config.yml
            env:
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: blocky-postgres-app
                    key: uri
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              capabilities:
                drop: [ALL]

        containers:
          app:
            image:
              repository: ghcr.io/0xerr0r/blocky
              tag: v0.29.0
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: ["/app/blocky", "healthcheck", "--port", "5353"]
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/blocking/status
                    port: 4000
              startup:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: ["/app/blocky", "healthcheck", "--port", "5353"]
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              capabilities:
                add: [NET_BIND_SERVICE]
                drop: [ALL]

    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false

    service:
      app:
        controller: *app
        ports:
          http:
            port: 4000

    serviceMonitor:
      app:
        serviceName: blocky
        endpoints:
        - port: http
          scheme: http
          path: /metrics
          interval: 1m
          scrapeTimeout: 10s

    persistence:
      config-template:
        type: configMap
        name: blocky-config
        advancedMounts:
          blocky:
            init-config:
            - path: /config-template
              readOnly: true
      config:
        type: emptyDir
        advancedMounts:
          blocky:
            init-config:
            - path: /config
            app:
            - path: /app/config.yml
              subPath: config.yml
              readOnly: true
