---
# yaml-language-server: $schema=https://datreeio.github.io/CRDs-catalog/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: blocky-postgres
spec:
  instances: 1

  imageName: ghcr.io/cloudnative-pg/postgresql:17

  bootstrap:
    initdb:
      database: blocky
      owner: blocky

  storage:
    size: 5Gi
    storageClass: ceph-block

  resources:
    requests:
      memory: 128Mi
      cpu: 50m
    limits:
      memory: 512Mi
