---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plexanibridge-config
spec:
  accessModes: [ReadWriteOnce]
  storageClassName: ceph-block
  resources:
    requests:
      storage: 1Gi
