---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      esphome:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.10.4
            env:
              TZ: America/Chicago
              ESPHOME_DASHBOARD_USE_PING: "true"
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi

    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: esphome
        ports:
          http:
            port: 6052

    route:
      app:
        hostnames:
        - esphome.${SECRET_DOMAIN}
        parentRefs:
        - name: internal
          namespace: network
          sectionName: https
        rules:
        - backendRefs:
          - name: esphome
            port: 6052

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: esphome
        advancedMounts:
          esphome:
            app:
            - path: /config

      vue3-config:
        type: configMap
        name: esphome-config
        advancedMounts:
          esphome:
            app:
            - path: /config/vue3.yaml
              subPath: vue3.yaml
              readOnly: true

      tmp:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
            - path: /tmp
