# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      lldap:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/lldap/lldap
              tag: v0.6.2-alpine-rootless
            env:
              TZ: America/New_York
              LLDAP_HTTP_PORT: &httpPort 17170
              LLDAP_HTTP_URL: https://lldap.${SECRET_DOMAIN}
              LLDAP_LDAP_PORT: &ldapPort 3890
              LLDAP_LDAP_BASE_DN: dc=dailey,dc=app
            envFrom:
            - secretRef:
                name: lldap-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *httpPort
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: lldap
        ports:
          http:
            port: *httpPort
          ldap:
            port: *ldapPort

    route:
      app:
        parentRefs:
        - name: internal
          namespace: network
          sectionName: https
        hostnames:
        - lldap.${SECRET_DOMAIN}
        rules:
        - backendRefs:
          - name: lldap
            port: *httpPort

    persistence:
      data:
        existingClaim: lldap
        advancedMounts:
          lldap:
            app:
            - path: /data
