---
# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
radarr:
  radarr-anime:
    base_url: !env_var RADARR_ANIME_BASE_URL http://radarr-anime.media:7878
    api_key: !env_var RADARR_ANIME_API_KEY

    delete_old_custom_formats: true

    quality_definition:
      type: movie

    quality_profiles:
    - trash_id: 722b624f9af1e492284c4bc842153a38 # [Anime] Remux-1080p
      name: Remux-1080p - Anime
      reset_unmatched_scores:
        enabled: true

    custom_formats:
    - trash_ids:
      - 064af5f084a0a24458cc8ecd3220f93f # Uncensored
      assign_scores_to:
      - name: Remux-1080p - Anime
        score: 101 # Adjust scoring as desired

    - trash_ids:
      - a5d148168c4506b55cf53984107c396e # 10bit
      assign_scores_to:
      - name: Remux-1080p - Anime
        score: 0 # Adjust scoring as desired

    - trash_ids:
      - 4a3b087eea2ce012fcc1ce319259a3be # Anime Dual Audio
      assign_scores_to:
      - name: Remux-1080p - Anime
        score: 10 # Adjust scoring as desired
