---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: rook-ceph-dashboard-password
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: rook-ceph-dashboard-password
  data:
  - secretKey: password
    remoteRef:
      key: /rook-ceph/cluster/dashboard-password
