# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/main/pkg/machinery/config/schemas/config.schema.json
---
machine:
  type: controlplane
  ca:
    crt: {{ ENV.TALOS_MACHINE_CA_CRT }}
    key: {{ ENV.TALOS_MACHINE_CA_KEY }}
cluster:
  etcd:
    ca:
      crt: {{ ENV.TALOS_ETCD_CA_CRT }}
      key: {{ ENV.TALOS_ETCD_CA_KEY }}
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
      auto-compaction-mode: periodic
      auto-compaction-retention: 24h
    advertisedSubnets:
      - 192.168.1.0/24
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  node-role.kubernetes.io/control-plane: ""
  node.kubernetes.io/exclude-from-external-load-balancers: ""
---
apiVersion: v1alpha1
kind: KubeAPIServerCAConfig
issuingCA:
  cert: |
{{ ENV.TALOS_K8S_CA_PEM | indent(4, true) }}
  key: |
{{ ENV.TALOS_K8S_CA_KEY_PEM | indent(4, true) }}
---
apiVersion: v1alpha1
kind: KubeAggregatorCAConfig
issuingCA:
  cert: |
{{ ENV.TALOS_K8S_AGGREGATOR_CA_PEM | indent(4, true) }}
  key: |
{{ ENV.TALOS_K8S_AGGREGATOR_CA_KEY_PEM | indent(4, true) }}
---
apiVersion: v1alpha1
kind: KubeAdmissionControlConfig
name: PodSecurity
configuration:
  apiVersion: pod-security.admission.config.k8s.io/v1alpha1
  kind: PodSecurityConfiguration
  defaults:
    audit: restricted
    audit-version: latest
    enforce: baseline
    enforce-version: latest
    warn: restricted
    warn-version: latest
  exemptions:
    namespaces:
      - kube-system
    runtimeClasses: []
    usernames: []
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  omitStages:
    - RequestReceived
  rules:
    - level: None
      userGroups:
        - system:serviceaccounts
    - level: Metadata
---
apiVersion: v1alpha1
kind: KubeAuthenticationConfig
configuration:
  anonymous:
    conditions:
      - path: /livez
      - path: /readyz
      - path: /healthz
    enabled: true
  jwt:
    - issuer:
        url: https://auth.{{ ENV.SECRET_DOMAIN }}
        audiences:
          - headlamp
      claimMappings:
        username:
          claim: email
          prefix: ""
        groups:
          claim: groups
          prefix: "oidc:"
      userValidationRules:
        - expression: "!user.username.startsWith('system:')"
          message: username cannot use the reserved system prefix
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: node
type: Node
---
apiVersion: v1alpha1
kind: KubeAuthorizerConfig
name: rbac
type: RBAC
---
apiVersion: v1alpha1
kind: KubeEtcdEncryptionConfig
config:
  resources:
    - providers:
        - secretbox:
            keys:
              - name: key2
                secret: {{ ENV.TALOS_SECRETBOX_ENCRYPTION_SECRET }}
        - identity: {}
      resources:
        - secrets
---
apiVersion: v1alpha1
kind: KubeServiceAccountConfig
issuer:
  privateKey: |
{{ ENV.TALOS_K8S_SERVICEACCOUNT_KEY_PEM | indent(4, true) }}
  issuerURL: https://192.168.1.70:6443
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}
certExtraSANs:
  - 127.0.0.1
  - 192.168.1.70
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: HPAScaleToZero=true,MutatingAdmissionPolicy=true
  runtime-config: admissionregistration.k8s.io/v1beta1=true
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
extraArgs:
  bind-address: 0.0.0.0
  terminated-pod-gc-threshold: "100"
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
extraArgs:
  bind-address: 0.0.0.0
config:
  profiles:
    - schedulerName: default-scheduler
      plugins:
        score:
          disabled:
            - name: ImageLocality
      pluginConfig:
        - name: PodTopologySpread
          args:
            defaultingType: List
            defaultConstraints:
              - maxSkew: 1
                topologyKey: kubernetes.io/hostname
                whenUnsatisfiable: ScheduleAnyway
---
apiVersion: v1alpha1
kind: KubeTalosAPIAccessConfig
allowedRoles:
  - os:admin
allowedKubernetesNamespaces:
  - system-upgrade
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:{{ ENV.KUBERNETES_VERSION }}
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
