# yaml-language-server: $schema=https://raw.githubusercontent.com/siderolabs/talos/refs/heads/main/pkg/machinery/config/schemas/config.schema.json
{% set n = nodes[node] %}
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ ENV.TALOS_SCHEMATIC_ID }}:{{ ENV.TALOS_VERSION }}
provisioning:
  diskSelector:
    match: disk.model == "{{ n.disk_model }}"
  wipe: false
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: eth-main
selector:
  match: mac(link.permanent_addr) == "{{ n.mac }}"
---
apiVersion: v1alpha1
kind: BondConfig
name: bond0
links:
  - eth-main
bondMode: active-backup
mtu: 1500
addresses:
  - address: {{ n.ip }}/24
routes:
  - gateway: 192.168.1.1
{% if n.controller %}
---
apiVersion: v1alpha1
kind: Layer2VIPConfig
name: 192.168.1.70
link: bond0
{% endif %}
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: "off"
hostname: {{ node }}
