---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: seerr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      seerr:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/seerr-team/seerr
              tag: v3.0.1
            env:
              TZ: America/Chicago
              LOG_LEVEL: info
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 5055
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: seerr
        ports:
          http:
            port: 5055

    route:
      app:
        hostnames:
        - request.${SECRET_DOMAIN}
        parentRefs:
        - name: external
          namespace: network
          sectionName: https

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: seerr
        advancedMounts:
          seerr:
            app:
            - path: /app/config

      tmp:
        type: emptyDir
        advancedMounts:
          seerr:
            app:
            - path: /tmp
