# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pocket-id
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      pocket-id:
        annotations:
          reloader.stakater.com/auto: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/pocket-id/pocket-id
              tag: v2.3.0
            env:
              TZ: America/Chicago
              PORT: &port 1411
              TRUST_PROXY: "true"
              APP_URL: https://auth.${SECRET_DOMAIN}
            envFrom:
            - secretRef:
                name: pocket-id-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command: [/app/pocket-id, healthcheck]
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: [ALL]
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: pocket-id
        ports:
          http:
            port: *port

    route:
      app:
        parentRefs:
        - name: external
          namespace: network
          sectionName: https
        hostnames:
        - auth.${SECRET_DOMAIN}
        rules:
        - backendRefs:
          - name: pocket-id
            port: *port

    persistence:
      data:
        existingClaim: pocket-id
        advancedMounts:
          pocket-id:
            app:
            - path: /app/data
