# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pocket-id
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: pocket-id
  interval: 1h
  path: ./kubernetes/apps/default/pocket-id
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: pocket-id
    substituteFrom:
    - kind: Secret
      name: cluster-secrets
