---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
- ../../../components/volsync
resources:
- ./externalsecret.yaml
- ./helmrelease.yaml
- ./httproutefilter.yaml
- ./pvc.yaml
