---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home
components:
- ../../components/common
- ../../components/drift-detection
resources:
- ./code-server/ks.yaml
- ./esphome/ks.yaml
- ./home-assistant/ks.yaml
- ./zwave-js-ui/ks.yaml
