---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bentopdf
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 101
        runAsGroup: 101
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          bentopdf:
            image:
              repository: ghcr.io/alam00000/bentopdf
              tag: v1.11.1
            env:
              TZ: America/Chicago
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 10m
                memory: 50Mi
              limits:
                memory: 256Mi
            probes:
              liveness: &probes
                enabled: true
              readiness: *probes

    service:
      main:
        controller: main
        ports:
          http:
            port: 8080

    route:
      main:
        hostnames:
        - pdf.${SECRET_DOMAIN}
        parentRefs:
        - name: internal
          namespace: network
          sectionName: https

    persistence:
      tmp:
        type: emptyDir
        advancedMounts:
          main:
            bentopdf:
            - path: /tmp
      cache:
        type: emptyDir
        advancedMounts:
          main:
            bentopdf:
            - path: /var/cache/nginx
