---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
- ../../components/common
- ../../components/drift-detection
resources:
- ./authelia/ks.yaml
- ./bookstack/ks.yaml
# - ./filerun/ks.yaml  # Temporarily disabled - replaced by nextcloud
- ./homepage/ks.yaml
- ./immich/ks.yaml
- ./lldap/ks.yaml
- ./nextcloud/ks.yaml
- ./silverbullet/ks.yaml
