---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
components:
- ../../components/common
- ../../components/drift-detection
resources:
- ./bentopdf/ks.yaml
- ./bookstack/ks.yaml
- ./donetick/ks.yaml
- ./homepage/ks.yaml
- ./immich/ks.yaml
- ./opencloud/ks.yaml
- ./headlamp/ks.yaml
- ./pocket-id/ks.yaml
- ./searxng/ks.yaml
