---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: code-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      code-server:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2
            args:
            - --auth
            - none
            - --user-data-dir
            - /config/.vscode
            - --extensions-dir
            - /config/.vscode-extensions
            - /config
            env:
              TZ: America/Chicago
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: 8080
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 2Gi

    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: code-server
        ports:
          http:
            port: 8080

    route:
      app:
        hostnames:
        - code.${SECRET_DOMAIN}
        parentRefs:
        - name: internal
          namespace: network
          sectionName: https
        rules:
        - backendRefs:
          - name: code-server
            port: 8080

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: home-assistant-rwx
        advancedMounts:
          code-server:
            app:
            - path: /config

      home:
        type: emptyDir
        advancedMounts:
          code-server:
            app:
            - path: /home/coder

      tmp:
        type: emptyDir
        advancedMounts:
          code-server:
            app:
            - path: /tmp
