---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: silence-operator
spec:
  chartRef:
    kind: OCIRepository
    name: silence-operator
  interval: 30m
  maxHistory: 3
  install:
    crds: CreateReplace
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    alertmanagerAddress: http://vmalertmanager-victoria-metrics-k8s-stack.observability:9093
    networkPolicy:
      enabled: false
