# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: home-ops

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://192.168.1.70:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "192.168.1.70"
additionalMachineCertSans: *sans

clusterPodNets: ["10.42.0.0/16"]
clusterSvcNets: ["10.43.0.0/16"]

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: "lucy"
    ipAddress: "192.168.1.54"
    installDiskSelector:
      model: "SanDisk SDSSDH32"
    machineSpec:
      secureboot: false
    controlPlane: false
    networkInterfaces:
      - &workerNicDefaults
        interface: bond0
        dhcp: false
        mtu: 1500
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.1.1"
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "6c:1f:f7:28:71:b4"
        addresses:
          - "192.168.1.54/24"
  - hostname: "nami"
    ipAddress: "192.168.1.50"
    installDiskSelector:
      model: "CT2000BX500SSD1"
    machineSpec:
      secureboot: false
    controlPlane: false
    networkInterfaces:
      - <<: *workerNicDefaults
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "6c:1f:f7:28:71:b8"
        addresses:
          - "192.168.1.50/24"
  - hostname: "marin"
    ipAddress: "192.168.1.59"
    installDiskSelector:
      model: "Samsung SSD 870"
    machineSpec:
      secureboot: false
    controlPlane: true
    networkInterfaces:
      - &controlPlaneNicDefaults
        <<: *workerNicDefaults
        vip:
          ip: "192.168.1.70"
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "6c:1f:f7:28:66:bf"
        addresses:
          - "192.168.1.59/24"
  - hostname: "sakura"
    ipAddress: "192.168.1.62"
    installDiskSelector:
      model: "Samsung SSD 870"
      size: "<= 300GB"
    machineSpec:
      secureboot: false
    controlPlane: true
    networkInterfaces:
      - <<: *controlPlaneNicDefaults
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "6c:1f:f7:28:71:82"
        addresses:
          - "192.168.1.62/24"
  - hostname: "hanekawa"
    ipAddress: "192.168.1.63"
    installDiskSelector:
      model: "Samsung SSD 870"
      size: "<= 300GB"
    machineSpec:
      secureboot: false
    controlPlane: true
    networkInterfaces:
      - <<: *controlPlaneNicDefaults
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: "6c:1f:f7:28:71:08"
        addresses:
          - "192.168.1.63/24"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-intel-gpu.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  # disable nconnect=4 for now; causes plex stuttering/hanging during streams
  # - "@./patches/global/machine-nfs.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Worker config
worker:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/realtek-firmware

# Controller patches
controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/realtek-firmware
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/etcd-config.yaml"
    - "@./patches/controller/machine-kubernetes-api-access.yaml"
