# yaml-language-server: $schema=https://www.authelia.com/schemas/v4.39/json-schema/configuration.json
---
identity_providers:
  oidc:
    clients:
    # Nextcloud Web Client
    # Reference: https://github.com/nextcloud/user_oidc
    - client_id: nextcloud
      client_name: Nextcloud
      client_secret: "{{ env `NEXTCLOUD_OIDC_CLIENT_SECRET` }}"
      public: false
      authorization_policy: one_factor
      require_pkce: true
      pkce_challenge_method: S256
      pre_configured_consent_duration: 90d
      redirect_uris:
      - https://cloud.${SECRET_DOMAIN}/apps/user_oidc/code
      scopes:
      - openid
      - profile
      - email
      - groups
      - offline_access
      grant_types:
      - authorization_code
      - refresh_token
      response_types:
      - code
      userinfo_signed_response_alg: none
      token_endpoint_auth_method: client_secret_post
