---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/operator.victoriametrics.com/vmservicescrape_v1beta1.json
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: unpoller
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: unpoller
  endpoints:
  - port: http
    interval: 30s
    path: /metrics
