# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/volsync.backube/kopiamaintenance_v1alpha1.json
---
apiVersion: volsync.backube/v1alpha1
kind: KopiaMaintenance
metadata:
  name: daily
spec:
  enabled: true
  # 6 hours - allows completion when repository is degraded with many index blobs
  activeDeadlineSeconds: 21600
  trigger:
    schedule: "0 */8 * * *"
  repository:
    repository: volsync-maintenance-secret
