---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
- ../../../components/volsync
resources:
- ./externalsecret.yaml
- ./helmrelease.yaml
- ./pvc.yaml
- ./referencegrant.yaml
configMapGenerator:
- name: authelia-config
  files:
  - ./config/configuration.yaml
  - ./config/users.yaml
  options:
    disableNameSuffixHash: true
