---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app gatus
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}

    controllers:
      main:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          gatus:
            image:
              repository: ghcr.io/twin/gatus
              tag: v5.31.0@sha256:3a432fcc2826b8eb2b38caceb83e7777fda139b8058b1d022c73a82be7342682
            env:
              TZ: America/Chicago
              GATUS_WEB_PORT: &port 80
              GATUS_CONFIG_PATH: /config
              GATUS_DELAY_START_SECONDS: 5
            envFrom:
            - secretRef:
                name: gatus-secret
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                add: ["NET_RAW"]
                drop: ["ALL"]
            resources:
              requests:
                cpu: 100m
                memory: 64Mi
              limits:
                memory: 128Mi
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes

    service:
      main:
        controller: main
        ports:
          http:
            port: *port

    route:
      main:
        hostnames:
        - status.${SECRET_DOMAIN}
        parentRefs:
        - name: external
          namespace: network
          sectionName: https

    persistence:
      config-file:
        type: configMap
        name: gatus-configmap
        globalMounts:
        - path: /config/config.yaml
          subPath: config.yaml
          readOnly: true
