---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    installCRDs: true

    replicaCount: 2

    leaderElect: true

    concurrent: 5

    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        memory: 128Mi

    serviceMonitor:
      enabled: true

    podSecurityContext:
      runAsNonRoot: true
      runAsUser: 65534
      fsGroup: 65534

    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 65534
      capabilities:
        drop:
        - ALL
