# yaml-language-server: $schema=https://json.schemastore.org/kustomization
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system-upgrade
components:
- ../../components/common
- ../../components/drift-detection
resources:
- ./etcd-defrag/ks.yaml
- ./tuppr/ks.yaml
