---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app tautulli
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  interval: 30m
  maxHistory: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: {type: RuntimeDefault}

    controllers:
      tautulli:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/tautulli
              tag: "2.16.0"
            env:
              TZ: America/Chicago
              TAUTULLI_HTTP_PORT: &port 8181
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 512Mi
            probes:
              liveness:
                enabled: true
                custom: true
                spec: &probe
                  httpGet:
                    path: /status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  !!merge <<: *probe
                  timeoutSeconds: 1

    service:
      tautulli:
        controller: tautulli
        ports:
          http:
            port: *port

    route:
      tautulli:
        hostnames:
        - tautulli.${SECRET_DOMAIN}
        parentRefs:
        - name: external
          namespace: network
          sectionName: https

    persistence:
      config:
        existingClaim: tautulli-config
        advancedMounts:
          tautulli:
            app:
            - path: /config
      plex-logs:
        existingClaim: plex-logs
        advancedMounts:
          tautulli:
            app:
            - path: /plex-logs
              readOnly: true
      tmp:
        type: emptyDir
        advancedMounts:
          tautulli:
            app:
            - path: /tmp
