---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      home-assistant:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.10.4@sha256:25a113a6d3e42ac66ba6b4172300b8c9a66f91e707a03cab5ad454910ca37eeb
            env:
              TZ: America/Chicago
              HASS_HTTP_TRUSTED_PROXY_1: 192.168.1.0/24
              HASS_HTTP_TRUSTED_PROXY_2: 192.168.50.0/24
              HASS_HTTP_TRUSTED_PROXY_3: 10.42.0.0/16
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                - ALL
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 4Gi

    defaultPodOptions:
      automountServiceAccountToken: false
      annotations:
        k8s.v1.cni.cncf.io/networks: |-
          [{
            "name": "main-lan",
            "namespace": "kube-system",
            "ips": ["192.168.1.55/24"],
            "mac": "c6:07:27:af:fb:55"
          }]
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: home-assistant
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: 8123

    route:
      app:
        hostnames:
        - ha.${SECRET_DOMAIN}
        parentRefs:
        - name: external
          namespace: network
          sectionName: https
        rules:
        - backendRefs:
          - name: home-assistant
            port: 8123

    persistence:
      config:
        type: persistentVolumeClaim
        existingClaim: home-assistant
        advancedMounts:
          home-assistant:
            app:
            - path: /config

      config-cache:
        type: persistentVolumeClaim
        existingClaim: home-assistant-cache
        advancedMounts:
          home-assistant:
            app:
            - path: /config/.venv

      tmp:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
            - path: /tmp
