---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app opensprinkler
spec:
  targetNamespace: external
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  dependsOn:
  - name: envoy-gateway
    namespace: network
  - name: global-config
    namespace: flux-system
  path: ./kubernetes/apps/external/opensprinkler
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  postBuild:
    substituteFrom:
    - kind: Secret
      name: cluster-secrets
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
