---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  interval: 30m
  chart:
    spec:
      chart: headlamp
      version: 0.38.0
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: kube-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    annotations:
      reloader.stakater.com/auto: "true"

    replicaCount: 1

    config:
      baseURL: ""
      pluginsDir: /headlamp/plugins

    initContainers:
    - name: headlamp-flux-plugin
      image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:v0.5.0
      command: [/bin/sh, -c]
      args:
      - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/
      volumeMounts:
      - name: headlamp-plugins
        mountPath: /build/plugins

    volumes:
    - name: headlamp-plugins
      emptyDir: {}

    volumeMounts:
    - name: headlamp-plugins
      mountPath: /headlamp/plugins

    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 25m
        memory: 128Mi

    serviceAccount:
      create: false
      name: headlamp-admin
