---
# yaml-language-server: $schema=https://www.schemastore.org/kustomization.json
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: storage
components:
- ../../components/common
resources:
- ./garage/ks.yaml
- ./garage-operator/ks.yaml
- ./garage-instance/ks.yaml
- ./kopia/ks.yaml
- ./volsync/ks.yaml
